<section class="bg-colour-1">
  <hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6 no-padding">
        <div class="bg-colour-2">
          [customer tesimonial image goes here]
        </div>
      </div>

      <div class="col-md-6 no-padding">
        <div class="large-padding align-center bg-colour-2">
          <h1>What Our Customer's Say</h1>
          <hr class="hr-small-center">
          <h4>Template is an out of the box rails template app with all the basic functionality to get your webbapp up and running quickly</h4>
        </div>
      </div>


    </div>
  </div>
</section>