<section class="bg-colour-3">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="large-padding">
        <h1>Key Features of Template</h1>
        <hr class="hr-small-left">
        <h4>These are the key features of Template</h4>
      </div>
    </div>
  </div>
</section>