<nav class="bg-colour-1 row bottom-border">
  <div class="col-sm-5 col-sm-offset-1">
    <div class="large-padding">
      Logo
    </div>
  </div>  
  <div class="col-sm-5 align-right">
    <div class="large-padding">
      Menu Items
      Log In Button
      Sign Up Button
    </div>
  </div>  
</nav>