.no-padding{
  padding: 0px;
}

.extra-small-padding{
  padding: 5px
}

.small-padding{
  padding: 10px 
}

.medium-padding{
  padding: 15px
}

.large-padding{
  padding: 25px
}

.extra-large-padding{
  padding: 40px
}

.extra-small-margin{
  margin: 5px
}

.small-margin{
  margin: 10px 
}

.medium-margin{
  margin: 15px
}

.large-margin{
  margin: 25px
}

.extra-large-margin{
  margin: 40px
}

.align-right{
  text-align: right
}

.align-center{
  text-align: center
}

.no-margin{
  margin: 0px;
}

