### COLOURS ###

.bg-colour-1{
  background-color: #F8F8F9
}

.bg-colour-2{
  background-color: #F8D1DC
}

.bg-colour-3{
  background-color: #A7CAFF
}

.bg-colour-4{
  background-color: #F1F9FC
}

.bg-colour-5{
  background-color: #FF9966
}